Repository wp-media/imagify-plugin, pull requests merged in 2022-07, with the labels that each got.

#664 Closes #663 Smart compression in the plugin
  README.md
  classes/Context/AbstractContext.php
  classes/Context/ContextInterface.php
  classes/Context/CustomFolders.php
  classes/Context/Noop.php
  classes/Context/WP.php
  classes/Optimization/File.php
  classes/Optimization/Process/AbstractProcess.php
  imagify.php
  inc/3rd-party/nextgen-gallery/classes/Context/NGG.php
  inc/admin/upgrader.php
  inc/classes/class-imagify-files-list-table.php
  inc/classes/class-imagify-options.php
  inc/deprecated/deprecated.php
  inc/functions/admin-ui.php
  inc/functions/common.php
  readme.txt
  views/button/re-optimize.php
  views/page-settings.php
  views/part-bulk-optimization-table-row-folder-type.php
  views/part-bulk-optimization-table.php
Labels: type: enhancement

#631 Fix/586 remove WP Rocket banner when plugin installed (but inactive)
  inc/classes/class-imagify-notices.php
  views/page-settings.php
  views/part-rocket-ad.php
Labels: needs: qa, UI

#628 Fix/592 small css glitch in other media section
  assets/css/files-list.css
  assets/css/files-list.min.css
Labels: CSS, waiting for feedback

#627 fix/594 ui problem with progress bar bulk optimization section
  assets/css/bulk.css
  assets/css/bulk.min.css
Labels: CSS, waiting for feedback
